<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>图书百度界面</title>

    <link href="../css/style.css" rel="stylesheet" />
    <link rel="Shortcut Icon" href="/img/11.jpg" />
</head>

<body>
    <div class="all">
        <div class="head">
            <div class="logo">
                <h1 style="text-align:center">图书搜索</h1></div>
        </div>

        <div class="content">
            <div class="exit"><a href="/signOut.ashx">注销</a></div>
            <div class="search">
                <form action="/so.ashx" method="get">
                    <input type="text" name="search" class="s1" placeholder="请输入搜索内容..." />
                    <button class="bt" type="submit" value="搜索"  alt="Search" title="Search" style="border:none; ">搜索</button>
                    <input type="hidden" name="Logo" value="Logo" />
                </form>

            </div>
            <div class="result">
                <table border="1" width="95%" align="center" >
                    <tr height="40px">
                        <td>图书ID</td>
                        <td>书名</td>
                        <td>isbn</td>
                        <td>语言</td>
                        <td>著者</td>
                        <td>图书类别</td>
                        <td>翻译</td>
                    </tr>
                    #foreach($book in $Data.Books)
                    <tr height="40px">
                        <td>$book.BookId</td>
                        <td>$book.BookName</td>
                        <td>$book.isbs</td>
                        <td>$book.language</td>
                        <td>$book.Author</td>
                        <td>$book.BooktypeName</td>
                        <td>$book.Translator</td>
                    </tr>
                    #end
                </table>
                <!-- <div class="next">
        #foreach($page in $Data.Fen)
        <a href="$page.Href">$page.Title</a>
        #end
    </div>-->
            </div>

        </div>



        <div class="foot">
            <div class="our"><p align="center"></p></div>
        </div>
    </div>
    
</body>
</html>
