<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/npm.js"></script>

    <link href="../css/bootstrap-theme.css" rel="stylesheet" />
    <link href="../css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <style type="text/css">
        .h1, h1 {
            font-size:30px;
            width: 500px;
            margin-left: 80px;
        }
        .table {
            width: 80%;
            max-width: 90%;
            margin-bottom: 20px;
        }

    </style>

    <title>个人借书详情</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container">
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">注销</a></p>
            <p class="navbar-text navbar-right"><a href="#" class="navbar-link">借阅情况</a></p>

        </div>
    </nav>
    <div width="1170px" margin-left="80px">
        <h1>个人借阅详情 <small>姓名：$Data.reader.readerName        学号：$Data.reader.IdentityCard</small></h1>
    </div>
    <div  align="center">
        <table class="table table-hover table-striped">
            <tr>
                <td>图书名称</td>
                <td>作者</td>
                <td>借书日期</td>
                <td>应还日期</td>
                <td>续借次数</td>
            </tr>
            #foreach($borrows in $Data.borrows)
            <tr>
                <td>$borrows.BookName</td>
                <td>$borrows.Author</td>
                <td>$borrows.BorrowTime</td>
                <td>$borrows.ReturnTime</td>
                <td>$borrows.RenewCount</td>
            </tr>
            #end
            <tr>
                <td>操作系统</td>
                <td>王苗</td>
                <td>借书日期</td>
                <td>应还日期</td>
                <td>4</td>
            </tr>
        </table>
    </div>
</body>
</html>